<div clas="container">
	<div clas="row">
		<div clas="col-md-6">
			<h5 class="card-title">Consultas Generales</h5>
		</div>
	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<form>
					<div class="form-group">
						<h5 class="card-title">Consultas para RNC's</h5>
						<input type="string" class="form-control" id="rnc" placeholder="Ingrese el RNC">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>



<br><br>

	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<form>
						<div class="form-group">
							<h5 class="card-title">Consultas para NCF's</h5>
							<input type="string" class="form-control" id="rnc" placeholder="Ingrese el NCF">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Consultar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>